# Source files
credentials/
nodes/
test/
scripts/

# Config files
.eslintrc.js
.prettierrc
tsconfig.json
gulpfile.js
jest.config.js

# Development files
.gitignore
.github/
.vscode/
.idea/

# Test artifacts
coverage/
*.log

# Misc
*.tgz
.DS_Store
